ArduinoPIRSensor_To_Android_Flow.json
[{"id":"b1b4a786.d22c58","type":"ibmiot","name":"Bluemix IOT Token"},{"id":"6d9461e1.162468","type":"function","name":"get and append time","func":"var d = new Date();\nvar n = d.getTime(); \nmsg.payload.d.time=n;\nmsg.payload.d.deviceId=msg.deviceId;\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":273,"z":"f9e82625.a082f8","wires":[["873e46e4.0a76b8","baaa0a50.cb39a8"]]},{"id":"873e46e4.0a76b8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":515,"y":165,"z":"f9e82625.a082f8","wires":[]},{"id":"bf9cc18c.7739d8","type":"ibmiot in","authentication":"boundService","apiKey":"b1b4a786.d22c58","inputType":"evt","deviceId":"deedbafefeef","applicationId":"","deviceType":"Arduino_UNO_PIRSensor","eventType":"status","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":false,"x":165.99998474121094,"y":273,"z":"f9e82625.a082f8","wires":[["6d9461e1.162468"]]},{"id":"baaa0a50.cb39a8","type":"ibmpush","name":"IBMPush","ApplicationID":"","ApplicationRoute":"","identifiers":"IoT-camera","notification":"tags","x":704,"y":339,"z":"f9e82625.a082f8","wires":[]}]
